<!DOCTYPE html>
<html 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">

    <title>Proyecto Final - Arquitectura de Aplicaciones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link
          th:href="@{/webjars/semantic-ui/2.2.1/dist/semantic.min.css}"
          rel="stylesheet" media="screen" />

    <script 
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script 
            th:src="@{/webjars/semantic-ui/2.2.1/dist/semantic.min.js}"></script>

    <script 
            th:src="@{js/main.js}"></script>
            
    <link 
          th:href="@{css/site-semantic.css}" rel="stylesheet" media="screen"/>
    
     <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="pusher">

<!-- Page Contents -->
    <div class="ui inverted vertical masthead center aligned segment red">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a  class="active item">Inicio</a>
                <a  class="item">Recetarios</a>
                <a  class="item">Recetas</a>
                
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
            <img class="ui huge image" th:src="@{/images/logo_dolce_salato.png}" />
            </h1>
            <h2>Comparte tus mejores recetas!</h2>
            <div class="ui huge orange button">Conoce mas<i class="right arrow icon"></i></div>
        </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">We Help Companies and Companions</h3>
                    <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
                    <h3 class="ui header">We Make Bananas That Can Dance</h3>
                    <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
                </div>
                <div class="six wide right floated column">
                    <img th:src="@{/images/homepage3.jpg}" class="ui large bordered circular image" />
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a class="ui huge button">Check Them Out</a>
                </div>
            </div>
        </div>
    </div>



    <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </div>
</body>
</html>